.jumbotron {
  margin-top: 100px;
  padding:65px;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(photos/multiFam/deltaPointAptFull.jpg);
  background-size: cover;
  background-position: left 20% top 54%;
}

#logo {
  width: 210px;
  max-height: 52px;
  margin-top:-10px;
  margin-bottom:5px;
}
.navbar {
  padding-top: 10px;
  padding-bottom: 35px;
  font-size:18px;
}

.navbar-right {
  padding-top: 20px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 50px;
}

.dropdown-menu:hover {
  background-color: rgba(217,217,219,0.90);
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: rgb(87,87,87);
  font-size: 20px;
  margin: 75px;

}

.btn-primary {
  background-color: rgba(181,184,188, 0.85);
  color: #000;
  font-family: "Playfair Display";
  font-weight:700;
  width:100%;
  margin: 0,0;
  border: 1px solid rgba(181,184,188, 0.85);
}

.btn-primary:hover {
  background-color: rgba(87,87,87,0);
  color:#000;
  border: 1px solid rgba(181,184,188, 0);
}
