.jumbotron {
  /* Full unit pic */
  background: rgba(0,0,0,0.8) url(../../../photos/singleFam/garlandFull.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top:20px;
  margin-bottom:45px;
}

#unitName {
  padding-top: 5px;
  color:white;
  font-family:"Playfair Display", serif;
  text-shadow: 1px 1px 2px gray;
}


h4 {
  font-family:"Playfair Display", serif;
  font-size: 3.0rem;
  text-align: left;
  padding-left: 12%;
  padding-right: 10%;
  color: gray;
}

.opportunitySum {
  margin-top: 50px;
}
#factsTitle{
  padding-top:22%;
  padding-left:20px;
  padding-right:20px;

}

.facts {
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 100%;
}

div.investSum li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: rgb(87,87,87);
  font-size: 20px;
  margin: 25px;
  margin-left:55px;

}
.investSum {
  text-align: justify;

}

div.investSum ul {
  margin-top: 75px;
  margin-bottom: 75px;
}

#firstPara {
  margin-top:50px;
}

.btn-lg {
    padding: 15px 30px;
}
